{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KU Polls</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
    <header>
        <h1>KU Polls</h1>
        {% if user.is_authenticated %}
            <p>Welcome back, {{user.username}}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            Please <a href="{% url 'login' %}">Login</a> to vote
        {% endif %}
    </header>
    <main>
        {% if latest_question_list %}
            <table>
                <thead>
                    <tr>
                        <th>Question</th>
                        <th>Results</th>
                        <th>Available</th>
                    </tr>
                </thead>
                <tbody>
                    {% for question in latest_question_list %}
                        <tr>
                            <td>
                                <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                            </td>
                            <td>
                                <a href="{% url 'polls:results' question.id %}">View Results</a>
                            </td>
                            <td>
                                {% if question.can_vote %}
                                    ✔
                                {% else %}
                                    ✗
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No polls are available.</p>
        {% endif %}
    </main>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>
